<div class="container" *ngIf="!checkingUser">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input matInput placeholder="Digite seu e-mail" [(ngModel)]="email" />
      <input
        matInput
        placeholder="Digite sua senha"
        [(ngModel)]="senha"
        type="password"
      />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()">
        <mat-progress-spinner
          *ngIf="showLoading"
          class="example-margin"
          color="primary"
          mode="indeterminate"
          value="50"
          diameter="35"
        ></mat-progress-spinner>
        <mat-label *ngIf="!showLoading">Login</mat-label>
      </button>
      <button mat-raised-button class="button" (click)="registrar()">
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="loading" *ngIf="checkingUser">
  <mat-progress-spinner
    *ngIf="showLoading"
    class="example-margin"
    color="primary"
    mode="determinate"
    value="50"
  ></mat-progress-spinner>
</div>
